* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #5B6176;
}

.container {
    background-color: #E9EDF6;
    width: 100%;
    padding: 0 2%;
}

.logo {
    display: inline-block;
}

header {
    background-color: #000;
    padding: 4px 2%;
}

h1 {
    color: #FFF
}

.nav-top {
    display: inline-block;
    margin: 0 2%
}

.botao-gerar {
    background-color: #B6B0CA;
    border-radius: 5px;
    height: 27px;
    width: 30%;
    text-shadow: none;
    border-style: none;
    font-weight: 700;
    margin-top: 2%
}

.botao-novo {
    background-color: #AE514C;
    border-radius: 5px;
    height: 27px;
    width: 30%;
    text-shadow: none;
    border-style: none;
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: 2%;
}

.input-players {
    background-color: #000;
    border-radius: 10px;
}

.section-title {
    color: white;
    text-align: center;
    padding-top: 5%;
    font-weight: 600;
}

.title-team-players {
    color: white;
    text-align: left;
    padding-top: 2%;
    font-weight: 600;
    margin-left: 2%;
}

.team-players {
    background-color: #000;
    border-radius: 10px;
    padding:0 1%;
    margin-bottom: 6%
}

.input {
    border-radius: 5px;
    width: 100%;
    background-color: #E9EDF6;
    height: 28px;
    margin-top: 1%;
}

.input-box{
    margin-top: 2%;
    margin-bottom: 2%; 
    margin-left: 2%;
}

.map-box{
    margin-top: 2%;
    margin-bottom: 2%; 
    margin-left: 2%;
}

.box-map-name{
    background-color: #E9EDF6;
    border-radius: 5px;
    text-align: center;
    padding: 1% 0;
    margin-top: 3%;
}

.box-map-name p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}